<ion-view>
  <ion-content>
    <div class="card" ng-repeat="item in notifications track by $index" ui-sref="appp.detail({index: $index})">
      <div class="item item-text-wrap">
        <p><strong style="font-size:1.4em">{{item.name}}</strong> required {{item.units}} units of <strong style="font-size: 1.2em">{{item.blood}}</strong> blood at <strong style="font-size: 1.2em">{{item.hospital}}</strong></p>
      </div>
    </div>

    <h1 ng-show="!notifications.length">No notifications</h1>

  </ion-content>
</ion-view>
