
<ion-view>
  <ion-content>

    <div style="width: 150px;height:150px;border-radius: 75px; overflow: hidden; margin: 0 auto;margin-top: 25px">
      <img src="../../img/unnamed.png" style="width: 150px;height:150px;"/>

    </div>
    <br/>
    <p style="font-size: 1.7em;text-align: center"><span style="color: rgb(218, 31, 39);font-weight: bold">Blood</span> Donor</p>
    <div class="list" style="padding-top: 65px">
      <form name="frm">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="email" ng-model="signin.user.email" required>
      </label>
        <br/>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="signin.user.pswd" required>
      </label>
        <br/>
      <button class="button button-block cyan" ng-disabled="frm.$invalid" ng-click="signin.login(signin.user)">
        LOGIN
      </button>
        <br/>
        <br/>
      <p style="text-align: center;font-size: 1.5em">Haven't joined yet??<br/> <br/><a ui-sref="signup">Click here</a></p>
      </form>
    </div>

  </ion-content>
</ion-view>
